include *.txt
include *.md
include *.pkl
recursive-include ./crop_yield_model *

include crop_yield_model/datasets/yield_df.csv
include crop_yield_model/datasets/test.csv
include crop_yield_model/trained_models/*.pkl
include crop_yield_model/VERSION
include crop_yield_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]